{% extends "layout.html" %}

{% block title %}
    - Add Food
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-3">
            <input class="form-control" name="brand" type="text" autocomplete="kahbefuhew" placeholder="Brand/Company Name">
            <!--Todo load all brand names from database as select options-->
        </div>
        <div class="mb-3">
            <input class="form-control" name="name" type="text" autocomplete="avefo" placeholder="Food Label (eg. Joes Pancakes, not Pancake Mix)" required>
        </div>
        <div class="mb-3">
            <input class="form-control" name="desc" type="text" autocomplete="kahvewkhew" placeholder="Description (eg. Gluten Free Pancake Mix with Walnuts)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="amount" type="number" min="1" step="any" autocomplete="kuawawe" placeholder="Serving Size (eg. 1)" required>
        </div>
        <div class="mb-3">
            <select class="form-select"  name="amount_type" type="text" autocomplete="kahvewkfaew" placeholder="Serving Measurement (eg. gram)" required>
                <option value="g">g (gram)</option>
                <option value="mg">mg (milagram)</option>
                <option value="tsp">tsp (teaspoon)</option>
                <option value="tbs">tbs (tablespoon)</option>
                <option value="oz">oz (ounce)</option>
                <option value="l">l (liter)</option>
                <option value="ml">ml (milaliter)</option>
                <option value="drop">droplet</option>
                <option value="packet">packet</option>
                <option value="bag">bag</option>
                <option value="pouch">pouch</option>
                <option value="sm">sm (small)</option>
                <option value="md">md (medium)</option>
                <option value="lg">lg (large)</option>
            <select>
        </div>
        <div class="mb-3">
            <input class="form-control" name="total_servs" type="number" min="1" step="any" autocomplete="kajhvwka" placeholder="Total Servings Per Container (About)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="cal" type="number" min="0" step="any" autocomplete="kaaefvew" placeholder="Calories (g)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="fat" type="number" min="0" step="any" autocomplete="khagwevheaw" placeholder="Fat (g)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="carb" type="number" min="0" step="any" autocomplete="jahgeh" placeholder="Carbs (g)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="fib" type="number" min="0" step="any" autocomplete="ofEDVJAGEWJef" placeholder="Fiber (g)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="prot" type="number" min="0" step="any" autocomplete="ofKHGEwarf" placeholder="Protein (g)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="sugar" type="number" min="0" step="any" autocomplete="hkvserk" placeholder="Sugar (g)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="chol" type="number" min="0" step="any" autocomplete="kuserku" placeholder="Cholesterol (mg)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="sod" type="number" min="0" step="any" autocomplete="jhbjsehfgluhwew" placeholder="Sodium (mg)" required>
        </div>
        <div class="mb-3">
            <input class="form-control"  name="pot" type="number" min="0" step="any" autocomplete="ofkfkyawef" placeholder="Potassium (mg)" required>
        </div>
        <button class="btn btn-primary">Add</button>
    </form>
{% endblock %}