{% extends "layout.html" %}

{% block title %}
    - Calculate Nutrients
{% endblock %}

{% block main %}
    <h4>{{ row["brand"] }}</h4>
    <h2>{{ row["name"] }}</h2>
    <p>{{ row["desc"] }}</p>
    <table class="table table-responsive table-bordered shadow-sm">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Cal</th>
                <th>Fat</th>
                <th>Carb</th>
                <th>Fib</th>
                <th>Prot</th>
                <th>Sugar</th>
                <th>Sod</th>
                <th>Pot</th>
                <th>Chol</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ multiplier * row["amount"]}} {{ row["amount_type"] }}</td>
                <td>{{ multiplier * row["cal"] }}</td>
                <td>{{ multiplier * row["fat"] }}</td>
                <td>{{ multiplier * row["carb"] }}</td>
                <td>{{ multiplier * row["fiber"] }}</td>
                <td>{{ multiplier * row["prot"] }}</td>
                <td>{{ multiplier * row["sugar"] }}</td>
                <td>{{ multiplier * row["sodium"] }}</td>
                <td>{{ multiplier * row["potassium"] }}</td>
                <td>{{ multiplier * row["cholesterol"] }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <span>
            <form action="/calc" method="post" class="float-start form-control-sm">
                <input class="form-control-sm" name="multiplier" type="number" value="{{ multiplier }}" min="0" step="any" autocomplete="off" placeholder="Multiplier" required>
                <input name="id" type="number" value="{{ row['id'] }}" hidden>
                <button class="btn btn-secondary btn-sm">Calculate</button>
            </form>
        </span>
        <span>
            <form action="/edit" method="post" class="float-end mb-5 form-control-sm">
                <input name="post_type" type="text" value="load" hidden>
                <input name="id" type="number" value="{{ row['id'] }}" hidden>
                <label for="editButton" class="small fw-normal">Not right?</label>
                <button class="btn btn-secondary btn-sm" id="editButton">Edit</button>
            </form>
        </span>
    </div>
{% endblock %}