{% extends "layout.html" %}

{% block title %}
    - Calculate Nutrients
{% endblock %}

{% block main %}
    <h4>{{ row["brand"] }}</h4>
    <h2>{{ row["name"] }}</h2>
    <p>{{ row["desc"] }} - Total Servings {{ row["total_servs"] }}</p>
    <table class="table table-bordered shadow-sm">
        <thead>
            <tr>
                <th>
                    Amount
                </th>
                <th class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Cal
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <form action="/calc" method="post" class="dropdown-item">
                            <input name="post_type" value="desired" hidden>
                            <input name="id" type="number" value="{{ row['id'] }}" hidden>
                            <input name="value_type" type="text" value="cal" hidden>
                            <input name="desired_value" type="number" step="any" placeholder="Desired Cal" required>
                            <input class="btn btn-primary btn-sm" type="submit" value="Calculate">
                        </form>
                    </div>
                </th>
                <th>
                    Fat
                </th>
                <th>
                    Carb
                </th>
                <th>
                    Fib
                </th>
                <th>
                    Prot
                </th>
                <th>
                    Sugar
                </th>
                <th>
                    Sod
                </th>
                <th>
                    Pot
                </th>
                <th>
                    Chol
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-truncate">
                    {{ multiplier * row["amount"]}} {{ row["amount_type"] }}
                </td>
                <td class="text-truncate">
                    {{ multiplier * row["cal"] }}
                </td>
                <td class="text-truncate">
                    {{ multiplier * row["fat"] }}
                </td>
                <td class="text-truncate">
                    {{ multiplier * row["carb"] }}
                </td>
                <td class="text-truncate">
                    {{ multiplier * row["fiber"] }}
                </td>
                <td class="text-truncate ">
                    {{ multiplier * row["prot"] }}
                </td>
                <td class="text-truncate">
                    {{ multiplier * row["sugar"] }}
                </td>
                <td class="text-truncate">
                    {{ multiplier * row["sodium"] }}
                </td>
                <td class="text-truncate">
                    {{ multiplier * row["potassium"] }}
                </td>
                <td class="text-truncate">
                    {{ multiplier * row["cholesterol"] }}
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <span>
            <form action="/calc" method="post" class="float-start form-control-sm">
                <input class="form-control-sm" name="multiplier" type="number" value="{{ multiplier }}" min="0" step="any" autocomplete="off" placeholder="Multiplier" required>
                <input name="id" type="number" value="{{ row['id'] }}" hidden>
                <button class="btn btn-secondary btn-sm">Calculate</button>
            </form>
        </span>
        <span>
            <form action="/edit" method="post" class="float-end mb-5 form-control-sm">
                <input name="post_type" type="text" value="calc" hidden>
                <input name="id" type="number" value="{{ row['id'] }}" hidden>
                <label for="editButton" class="small fw-normal">Not right?</label>
                <button class="btn btn-secondary btn-sm" id="editButton">Edit</button>
            </form>
        </span>
    </div>
{% endblock %}