{% extends "layout.html" %}

{% block main %}
    <!--The header bar for the results-->
    <h1 class="popover-header shadow-sm">{{ top_message }}</h1>
    <form class="input-group mb-3 shadow-sm">
        <span class="form-control text-nowrap w-5">Serv Size</span>
        <span class="form-control w-01">Cal</span>
        <span class="form-control w-01">Fat</span>
        <span class="form-control w-01">Carb</span>
        <span class="form-control w-01">Fib</span>
        <span class="form-control w-01">Prot</span>
        <span class="form-control w-01">Sugar</span>
        <span class="form-control w-01">Sod</span>
        <span class="form-control w-01">Pot</span>
    </form>
    <!--Place an ad for a food item here-->
    <!--The list of search results-->
    {% for row in rows %}
    <div class=
    "position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;">
        <div>
            <span style="font-size: medium;">
                {{ row["brand"] }}
            </span>
            <span style="font-size: x-large;">
                {{ row["name"] }}
            </span>
            <div style="font-size: small;">
                {{ row["desc"] }}
            </div>
        </div>
        <div class="input-group">
            <span class="form-control text-nowrap w-5">{{ row["amount"] }} {{ row["amount_type"] }}</span>
            <span class="form-control w-01">{{ row["cal"] }}</span>
            <span class="form-control w-01">{{ row["fat"] }}</span>
            <span class="form-control w-01">{{ row["carb"] }}</span>
            <span class="form-control w-01">{{ row["fiber"] }}</span>
            <span class="form-control w-01">{{ row["prot"] }}</span>
            <span class="form-control w-01">{{ row["sugar"] }}</span>
            <span class="form-control w-01">{{ row["sodium"] }}</span>
            <span class="form-control w-01">{{ row["potassium"] }}</span>
        </div>

        <!--Make the calculate form and edit button/form drop down when the user clicks on the food item-->
        <div>
            <span>
                <form action="/calc" method="post" class="float-start form-control-sm">
                    <input name="post_type" type="text" value="load" hidden>
                    <input name="id" type="number" value="{{ row['id'] }}" hidden>
                    <button class="btn btn-secondary btn-sm">Calculate</button>
                </form>
            </span>
            <span>
                <form action="/edit" method="post" class="float-end mb-5 form-control-sm">
                    <input name="post_type" type="text" value="load" hidden>
                    <input name="id" type="number" value="{{ row['id'] }}" hidden>
                    <label for="editButton" class="small fw-normal">Not right?</label>
                    <button class="btn btn-secondary btn-sm" id="editButton">Edit</button>
                </form>
            </span>
        </div>
    </div>
    {% endfor %}
    <div>
        <a href="/add"><button class="btn btn-primary container-fluid">Add a food</button></a>
    </div>
{% endblock %}