{% extends "layout.html" %}

{% block title %}
    - Search
{% endblock %}

{% block main %}
    <!--The search bar-->
    <form action="/search" method="post">
        <div class="input-group mb-3 shadow-sm">
            <input class="form-control text-truncate" name="brand" autocomplete="off" type="search" placeholder="Brand / Company">
            <input class="form-control text-truncate" name="name" autocomplete="off" type="search" placeholder="Label">
            <!--Add field to search through foods description (above pre implemented)-->
            <button class="btn btn-primary">Search</button>
        </div>
    </form>
    <!--Place an ads for a food item here-->
{% endblock %}