{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block main %}

<form action="{{ url_for('security.login') }}" method="post">
    {{ login_user_form.hidden_tag() }}
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        {{ login_user_form.email(class_="form-control") }}
    </div>
    <div class="mb-3">
        <label for="password" >{{ login_user_form.password.label(class_="form-label col-sm-2") }}</label>
        {{ login_user_form.password(class_="form-control") }}
    </div>
    <div class="mb-3">
        <label for="checkbox">{{ login_user_form.remember.label(class_="checkbox-label") }}
        {{ login_user_form.remember(class_="checkbox") }}</h2>
    </div>
    {{ login_user_form.submit(class_="btn btn-primary text-center") }}
</form>

{% endblock %}
