{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block main %}

<form action="{{ url_for('security.login') }}" method="post" class="form-horizontal">
    {{ login_user_form.hidden_tag() }}
    <div class="form-group row">
        <h2><label for="email" class="control-label col-sm-2">Email</label></h2>
        {{ login_user_form.email(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group row">
        <h2>{{ login_user_form.password.label(class_="control-label col-sm-2") }}</h2>
        {{ login_user_form.password(class_="form-control col-sm-10") }}
    </div>
    <div class="form-group row">
        <h2>{{ login_user_form.remember.label(class_="checkbox-label") }}
        {{ login_user_form.remember(class_="checkbox") }}</h2>
    </div>
    {{ login_user_form.submit(class_="btn btn-primary text-center container") }}
</form>

{% endblock %}
