{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}

<form method="POST" action="{{ url_for('security.register') }}" class="form-horizontal">
    {{ register_user_form.hidden_tag() }}
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      {{ register_user_form.email(class_="form-control col-sm-10") }}
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      {{ register_user_form.password(class_="form-control col-sm-10") }}
    </div>
    <div class="mb-3">
      <label class="form-label" for="password_confirm">Confirm Password</label>
      {{ register_user_form.password_confirm(class_="form-control col-sm-10") }}
    </div>
    {{ register_user_form.submit(class_="btn btn-primary text-center") }}
</form>

{% endblock %}
